
html{
	width: 100%;
	background-color: black;
	transition: 1.5s ;
}
body{
	padding: 0px;
	margin: 0px;
	min-width: 600px; 
	transition: 1.2s;
}

#menu{
	margin-bottom: 0px;
	width: 250px;
	float: left;
	position: sticky;
	top: 0px;
	margin-left: 50px;
	 
}
#content{
	 margin-left: 330px;
	 margin-right: 80px;
	 min-width: 500px;
	 text-align: left;
} 
#content p{
	line-height: 25px;
	font-size: 1.5em;
}

#menu p :hover{
	cursor: pointer;
}
#menu ul p{
	margin: 0px;

}
#menu ul{
	margin: 0px;
	padding: 0px;

}
#menu ul li ul p {
	padding-left: 25px;
}
#menu ul li,.fara { 
	list-style-type: none;	 
}
#menu ul li p{
	line-height: 36px;
	font-size: 20px;
	text-decoration: none;
	color: #2eccd4;
	display: block;
	padding-left: 5px;
} 
#menu ul li p:hover{
	background-color:blue;
	 
	cursor: default;

	}
.header{
	min-width:950px; 
	height: 50px;
	border-bottom: 1px solid blue; 
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.header div a{
	
	width: 1000px;
	text-decoration: none;
} 
 
.AAA {
	background-color: #483D8B;
	 
}

.decor{
	color:#8B0000;
	font-size: 35px;
	position: relative;
	margin: 0px;
	width: 99%;
	border-bottom: 1px solid #ff9800;
}
 
#content ul li p{
	color: #9e9e9e;
}

.color
{
	 color:#DAA520;
}

#graf1{
	 
}
.fotor{
	float:right;
}
.fotol{
	float :left;
}
.text{
	padding: 10px 0px 10px 30px;
	background-color: black;
	width: 200px;
	color: white;
}
.grafpart{
	display: inline-block;
	 
}
 
 .bottom{
 	border-top: 1px solid white;
 	margin-top: 30px;
 	margin-left: 5px;
 	margin-right: 5px;
 	text-align: center;
 }
 .arr{
 	width: 50px;
 	height: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0.5;
 }
 .arr:hover{
 	opacity: 1;
 	cursor: pointer;
 }
 .sol{

 	margin-bottom: 20px;
 	margin-top: 20px;
 	font-size: 1.6em;
 	text-align: center;
 	width: 100px;
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 30px;
 	padding-right: 30px;
 	padding-bottom: 10px;
 	padding-top: 10px;
 	background-color: #ebebe9;
 	border-radius: 10px;
 	cursor: pointer;
 	border: 1px solid white;

 }
 .sol:hover{
 	border: 1px solid black;
 }
  p{
 	color: #9e9e9e;
 }
 b{
 	color: green;
 }
 a{
 	color: #9e9e9e;
 }
 .arr{
 	 
 	background-size: 50px 50px;
 	background-image: url("../img/avion.png");
 }

 #but p {
	margin-top:10px; 
	font-size: 15px;
	text-align: center;
}
 #but{
 	padding: 10px;
 	width: 100px;
 	position: absolute;
 	right: 70px; 
 	top:20px;
 	background-color: #868484;
 	border-radius: 10px;
 	cursor: pointer;
 }




 .checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  position: absolute;
  width: 90px;
  height: 30px;
  right:70px;
  top:10px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(226,226,226,1) 0%, rgba(96,96,96,1) 0%, rgba(226,226,226,1) 100%);
background-size: 650px 100%;
  border-radius: 70px;
  padding: 7px;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  transition: all 1500ms ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}
.checkbox + label:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 7px;
  top: 7px;
  border-radius: 100%;

  background: #fff;
  text-align: center;
     font-family: "Cabin", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fd1a15;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-transition: left 500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 1500ms ease, color 500ms ease, -webkit-transform 150ms ease;
  transition: left 1500ms ease, color 500ms ease, transform 150ms ease;
  transition: left 1500ms ease, color 500ms ease, transform 150ms ease, -webkit-transform 150ms ease;
}
.checkbox + label:active:before {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.checkbox:checked + label {
  background-position-x: -350px;
}
.checkbox:checked + label:before {
background: url('../img/moon.png');
 background-size: 30px 30px;
  color: #007177;
  left: 68px;
}
 
 .comentariu{
    color: green;
 }
 
 
 .style1
    {
      display: none;
    }
    .style2
    {
     display: inline;
     transform: translate(-20px);
     transition: 2s;
    }
    .style3{
      transform: translate(-40px);
      transition: 1.5s;
    }
    .style4{
     opacity: 1;
     transform: translate(-20px);
     transition: 2s;
    }
    .style5{
    opacity: 0;
    }
    .trans1 :hover;
    {
     cursor: pointer;
    }



 #quiz{
 	font-size: 20px;
 
 }
.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}
#quiz{
	color: white;
}
#question{
	color:#415fca;
}
#results{
	color: white;
}