 
body{
	width: 1000px;
	margin: auto;
	background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
	background-size: 2000px;
}


.header{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid black;

}

.header div a{
	font-size: 40px;
	width: 1000px;
	text-decoration: none;
}
.centru{
	position: absolute;
	z-index: -1;
	top: 100px;
	width: 1000px;
	height: 100%;
	 
}

 .c1{
  position: relative;
  top: 213px;
  left: 288px;
  width: 48px;
  height: 48px;
  cursor: pointer; 
  border-radius: 50%;
 }

.c2{
  position: relative;
  top: 251px;
  left: 664px;
  width: 47px;
  height: 47px;
  cursor: pointer; 
  border-radius: 50%;
 }
.c3{
  position: relative;
  top: 25px;
  left: 479px;
  width: 32px;
  height: 32px;
  cursor: pointer; 
  border-radius: 50%;
}
.c4{
  position: relative;
  top:282px;
  left: 490px;
  width: 32px;
  height: 32px;
  cursor: pointer; 
  border-radius: 50%;

}

.bottom{
	position: relative;
	align-items: center;
	top:500px;
	left:430px;
	text-align: center;
	width:200px;
	border-top: 1px solid black;
}