 
 @font-face{
 	font-family: 'myfont';
 	src:url("../../fonts/Anonymous Pro.ttf");
 }

 .color2 {
 	background-color: #ebebe9;
 	text-align: center;
 	border-radius: 5px;
 	font-family: 'myfont',sans-serif;
 }
 .comentariu{
 	color: green;
 }
 
 
 .bottom{
 	border-top: 1px solid black;
 	margin-top: 30px;
 	margin-left: 5px;
 	margin-right: 5px;
 	text-align: center;
 }
 .AAA{
 	background-color: red;
 }