
html{
	width: 100%;
}
body{
	padding: 0px;
	margin: 0px;
	min-width: 600px;
 
 
}
 
#menu{
	margin-bottom: 0px;
	width: 250px;
	float: left;
	position: sticky;
	top: 0px;
	margin-left: 50px;
	 
}
#content{
	 margin-left: 330px;
	 margin-right: 80px;
	 min-width: 500px;
	 text-align: left;
} 
#content p{
	line-height: 25px;
	font-size: 1.5em;
}

#menu p :hover{
	cursor: pointer;
}
#menu ul p{
	margin: 0px;

}
#menu ul{
	margin: 0px;
	padding: 0px;

}
#menu ul li ul p {
	padding-left: 25px;
}
#menu ul li,.fara { 
	list-style-type: none;	 
}
#menu ul li p{
	line-height: 36px;
	font-size: 20px;
	text-decoration: none;
	color: #6e6cef;
	display: block;
	padding-left: 5px;
} 
#menu ul li p:hover{
	background-color: blue;
	color: white;
	cursor: default;

	}
.header{
	min-width:950px; 
	height: 50px;
	border-bottom: 1px solid black; 
	margin: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.header div a{
	
	width: 1000px;
	text-decoration: none;
} 
 
.AAA {
	background-color: #d8d0d0;
	color: red;
}

.decor{
	color:red;
	font-size: 35px;
	position: relative;
	margin: 0px;
	width: 99%;
	border-bottom: 1px solid #ff9800;
}
 
#content ul li p{
	color: black;
}

.color
{
	 color: #ff9800;
}

#graf1{
	margin-left:200px;
}
.fotor{
	float:right;
}
.fotol{
	float :left;
}
.text{
	padding: 10px 0px 10px 30px;
	background-color: #efefef;
	width: 200px;
}
.grafpart{
	display: inline-block;
	margin-left: 100px;
}
 
 .bottom{
 	border-top: 1px solid black;
 	margin-top: 30px;
 	margin-left: 5px;
 	margin-right: 5px;
 	text-align: center;
 }
 .arr{
 	width: 30px;
 	height: 30px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    opacity: 0.5;
 }
 .arr:hover{
 	opacity: 1;
 	cursor: pointer;
 }
 .sol{

 	margin-bottom: 20px;
 	margin-top: 20px;
 	font-size: 1.6em;
 	text-align: center;
 	width: 100px;
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 30px;
 	padding-right: 30px;
 	padding-bottom: 10px;
 	padding-top: 10px;
 	background-color: #ebebe9;
 	border-radius: 10px;
 	cursor: pointer;
 	border: 1px solid white;

 }
 .sol:hover{
 	border: 1px solid black;
 }