
body{
	padding: 0px;
	margin: 0px;
}

 li a {
	text-decoration: none;
	color: black;
}
.header{
	width: 98%;
	height: 50px;
	border-bottom: 1px solid black; 
	margin: 10px;
}
.header div a{
	font-size: 40px;
	width: 1000px;
	text-decoration: none;
} 