
body{
	padding: 0px;
	margin: 0px;

}
 

#menu{
	 margin-bottom: 0px;
	width: 250px;
	float: left;
	position: sticky;
	top: 0px;
	 
}
#content{
	 margin-left: 270px;
} 

ul p{
	margin: 0px;
}
ul{
	margin: 0px;
	padding: 0px;

}
ul li ul p {
	padding-left: 25px;
}
ul li{
	  
	 
	list-style-type: none;
	 
}
ul li p{
	line-height: 36px;
	font-size: 20px;
	text-decoration: none;
	color: #6e6cef;
	display: block;


	 
} 
ul li p:hover{
	background-color: blue;
	}
.header{
	width: 98%;
	height: 50px;
	border-bottom: 1px solid black; 
	margin: 10px;
}
.header div a{
	font-size: 40px;
	width: 1000px;
	text-decoration: none;
} 
 
.AAA {
	 
	 
	background-color: #d8d0d0;
	color: red;
}